body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    background-color: white;
  }

  .h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .jumbotron {
    height: 200px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 5px solid black;
  }

  .text {
    height: 100%;
    width:100%;
    color: #000000;
    border: 2px solid black;
    padding: 10px;
  }

  .time-block{
    text-align: center;
    border-radius: 10px;
}
  .row{
    height: 80px;
    border-top: 1px solid white;
  }

  .hour{
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid white;
  }

  .past{
    background-color: black;
    color: white;
  }
  
  .present{
    background-color: grey;
    color: black;
  }
  
  .future{
    background-color: lightgray;
    color: black;
  }

  .saveBtn{
    border-radius: 10px;
    background-color: darkgrey;
    color: whitesmoke;
    height: 100px;
    width: 100px;
  }

  .saveBtn i:hover{
    font-size: 20px;
    transition: all .4s ease-in-out;
  }